body {
  margin: 0;
  padding: 0;
  background-color: #f2ece0;
  font-family: "Playpen Sans Hebrew";
}
:root {
  --main-text: #0e0602;
  --main-background: #f2ece0;
  --primary: #4b2a19;
  --secondary: #e3d1bb;
  --tertiary: #363636;
  --accent: #dabc9a;
  --light-bg: #f6f4f2;
  --light-color: #8d6e63;
  --gold: #f1ac50;
  --custom-gradient: linear-gradient(135deg,  var(--primary), var(--gold));

}
